! Aliases
alias exec shr show running-config
alias exec backup copy running-config tftp://{{ global.tftp_server }}/configs\{{ hostname }}.conf
alias exec shint show interfaces status
alias exec ship show ip interface brief
alias exec shpow show power inlie brief
alias exec shdes show interfaces description
!
