! Console and VTY
line con 0
 exec-timeout 15 0
 privilege level 15
 logging synchronous
 login authentication {{ global.aaa_group }}
 stopbits 1
line vty 0 4
 access-class 10 in
 exec-timeout 15 0
 login authentication {{ global.aaa_group }}
 transport input ssh
line vty 5 15
 access-class 10 in
 exec-timeout 15 0
 login authentication {{ global.aaa_group }}
 transport input ssh
!
