!
interface {{ mgmt_int }}
 {% if uplink_switch is defined -%}
 desc UPLINK to {{ uplink_switch }}
 {% endif -%}
 no switchport
 ip address {{ mgmt_ip_address }} {{ mgmt_netmask }}
 no ip directed-broadcast
 no ip route-cache
 no shutdown
!
