!
interface {{ mgmt_int }}
 ip address {{ mgmt_ip_address }} {{ mgmt_netmask }}
 no ip directed-broadcast
 no ip route-cache
 no shutdown
!
{% if camera_vlan -%}
 {% if 'C3' in model -%}
  {% set access_slot = 'GigabitEthernet0' -%}
 {% else -%}
  {% set access_slot = 'GigabitEthernet1/0' -%}
 {% endif -%}
interface range {{ access_slot }}/1-6
 description Camera
 switchport host
 switchport access vlan {{ camera_vlan }}
!
{% endif -%}