! Model: {{ model }}
! Role: {{ role }}
!
hostname {{ hostname }}
!
! Global & Role/Family-specific config
{% include global.template_path + '/ios/aaa.j2' %}
{% include global.template_path + '/ios/aliases.j2' %}
{% include global.template_path + '/ios/acls.j2' %}
{% include global.template_path + '/ios/banner_login.j2' %}
{% include global.template_path + '/ios/console_vty.j2' %}
{% include global.template_path + '/ios/date_time.j2' %}
{% include global.template_path + '/ios/dns.j2' %}
{% include global.template_path + '/ios/global.j2' %}
{% include global.template_path + '/ios/interfaces_global.j2' %}
{% include global.template_path + '/ios/interfaces_' + role + '.j2' %}
{% include global.template_path + '/ios/logging.j2' %}
{% include global.template_path + '/ios/routing_' + role + '.j2' %}
{% include global.template_path + '/ios/snmp.j2' %}
{% include global.template_path + '/ios/ssh.j2' %}
{% include global.template_path + '/ios/stp_' + role + '.j2' %}
{% include global.template_path + '/ios/users.j2' %}
{% include global.template_path + '/ios/vlans.j2' %}
{% if vtp_mode|length or vtp_domain|length or vtp_pass|length -%}
{% include global.template_path + '/ios/vtp.j2' %}
{% endif -%}
!
! Model-specific config
{% if 'C9500-48Y4C' in model -%}
{% include global.template_path + '/ios/interfaces_c9500-48y4c.j2' %}
{% endif -%}
{% if 'C9500-24Y4C' in model -%}
{% include global.template_path + '/ios/interfaces_c9500-24y4c.j2' %}
{% endif -%}
{% if 'C9300' in model or 'C9200' in model -%}
{% include global.template_path + '/ios/interfaces_c9300_c9200-48.j2' %}
{% endif -%}
{% if 'C3560-48' in model -%}
{% include global.template_path + '/ios/interfaces_c3560-48.j2' %}
{% endif -%}
!
! Device-specific extra config
{% include '/root/config/' + hostname + '-extra.cfg' ignore missing -%}
!
end
