! Users
username {{ global.user1_username }} privilege {{ global.user1_privilege }} secret 9 {{ global.user1_type9_hash }}
username {{ global.user2_username }} privilege {{ global.user2_privilege }} secret 9 {{ global.user2_type9_hash }}
username {{ global.user3_username }} privilege {{ global.user3_privilege }} secret 9 {{ global.user3_type9_hash }}
username {{ global.user4_username }} privilege {{ global.user4_privilege }} secret 9 {{ global.user4_type9_hash }}
username {{ global.user5_username }} privilege {{ global.user5_privilege }} secret 9 {{ global.user5_type9_hash }}
username {{ global.user6_username }} privilege {{ global.user6_privilege }} secret 9 {{ global.user6_type9_hash }}
enable secret 5 {{ global.secret_level15_type9_hash }}
enable secret level 5 5 {{ global.secret_level5_type9_hash }}
privilege exec level 5 ping
privilege exec level 5 show ip
privilege exec level 5 show vlan
privilege exec level 5 show running-config
privilege exec level 5 show running-config view full
!